.main-block
    position relative
    height 750rem
    overflow hidden

    &__buns
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index ui-index-1

    &__bun
        position absolute
        width initial

    &__top-left-bun
        top 0
        left 0
        width 340rem

    &__top-bun
        top 0
        left 50%
        transform translateX(-50%)
        width 450rem

    &__top-right-bun
        top 40rem
        right 0
        transform translateX(10%)
        width 400rem

    &__bottom-left-bun
        bottom 0
        left 0
        transform translateY(20%)
        width 450rem

    &__bottom-bun
        bottom 0
        left 50%
        transform translateX(-50%) translateY(70%)
        width 250rem

    &__bottom-right-bun
        bottom 0
        right 0
        transform translateY(40%)
        width 400rem



    &__wrapper
        position relative
        z-index ui-index-2

        display flex
        justify-content center
        align-items center
        height 100%

    &__content
        display flex
        flex-direction column
        align-items center
        gap 20rem

        max-width 750rem
        text-align center

    &__text
        margin-bottom 10rem
