.button
    padding 20rem 32rem
    font-size 18rem
    font-weight 500
    border-radius 100rem
    border none
    background-color yellow
    color black
    cursor pointer
    transition .2s background-color

    &:hover
        background-color #FDC72C

    &:disabled
        background-color gray-additional !important
        cursor not-allowed

    &--white
        background-color white

        &:hover
            background-color gray-white
