.field
    display grid
    gap 5rem
    font-weight 500

    &__label
        display flex
        color gray-additional
        font-size 18rem
        transition .2s color

    &__input
        padding 10rem 25rem
        outline none
        border none
        border-radius 15rem
        background-color white
        transition .2s background-color

    &--invalid &__label
        color red

    &--invalid &__input
        background-color rgba(red, 0.1)



