.header
    display flex
    align-items center
    gap 15rem
    padding-top 30rem
    padding-bottom 30rem

    position fixed
    top 0
    left 0
    right 0
    z-index ui-index-4

    &__logo
        width max-content
        height 54rem

    &__navigation
        display flex
        gap 15rem
        padding 15rem 20rem
        border-radius 100rem
        background-color gray-light

    &__link
        font-size 14rem
        font-weight 500
        cursor pointer
        transition .2s color

        &:hover
            color gray-additional

    &__social-list
        display flex
        gap 2rem

    &__button
        font-size 14rem
        margin-left 10rem
        padding 18rem
