.social-button
    width 54rem
    height 54rem
    padding 15rem

    display flex
    justify-content center
    align-items center

    background-color gray-light
    border-radius 9999rem

    cursor pointer

    svg
        height 100%

    svg path
        fill gray-additional

    &, svg path
        transition-duration .2s
        transition-property background-color, fill

    &:hover
        background-color red

        svg path
            fill white



    &--white
        background-color gray-white

        svg path
            fill gray
