html {
  font-size: calc(100vw/$pc);
  @media all and (max-width: $mobile-media) {
  font-size: calc(100vw/$mobile);
}
}
.body-scroll-lock {
  touch-action: none;
  overflow: hidden;
}
body {
overflow-x: hidden;
}