@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa/static/Comfortaa-Medium.ttf') format('ttf'),
  url('../fonts/Comfortaa/static/Comfortaa-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa/static/Comfortaa-Light.ttf') format('ttf'),
  url('../fonts/Comfortaa/static/Comfortaa-Light.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h2 {
  font-family: 'Comfortaa';
  font-size: 48rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  @include mobile_media {
    font-size: 95rem;
  }
}
p {
  font-family: 'Comfortaa';
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  @include mobile_media {
    font-size: 64rem;
  }
}