@mixin before-prefix ($prop, $val...) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$prop}: #{$val};
  }
}

@mixin after-prefix ($prop, $val...) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$prop}: #{$vendor}#{$val};
}}