/*цвета */
$black: #2F2F2F;
$grey-additional:#969696;
$grey-main:#4A4A4A;
$red: #CC212C;
$white-shade-of-gray: #F0F0F0;
$grey-light: #d9d9d9;

//media
$pc:1440;
//$mobile: 1440;
$mobile: 375;
$mobile_media: 500;


