black = #2f2f2f

gray = #4a4a4a
gray-additional = #969696
gray-light = #d9d9d9
gray-white = #f0f0f0

yellow = #fbba00

red = #cc212c
red-dark = #c1232d

white = #ffffff



.text-black
    color black



.text-gray
    color gray

.text-gray-additional
    color gray-additional

.text-gray-light
    color gray-light

.text-gray-white
    color gray-white



.text-yellow
    color yellow



.text-red
    color red

.text-red-dark
    color red-dark



.text-white
    color white



body
    color black
