pc = 1440px
tablet = 768px
mobile = 375px

tablet_media = 1000px
mobile_media = 500px

@media all and (max-width tablet_media)
    .on-desktop:not(.on-tablet):not(.on-mobile)
        display none !important

@media all and (min-width tablet_media)
    .on-tablet:not(.on-desktop)
        display none !important

@media all and (max-width mobile_media)
    .on-tablet:not(.on-mobile)
        display none !important

@media all and (min-width tablet_media)
    .on-mobile:not(.on-desktop)
        display none !important

@media all and (min-width mobile_media) and (max-width tablet_media)
    .on-mobile:not(.on-tablet)
        display none !important
