html
    font-size (100vw / pc)

body
    font-family 'Comfortaa', sans-serif
    font-size 20rem
    font-weight 400
    line-height 1.7

h1, h2, h3, h4, h5, h6
    font-weight 500
    line-height 1.2
    margin 0

h1
    font-size 110rem
    line-height 1.05

h2
    font-size 48rem

h3
    font-size 30rem
