.assortiment_modal{
  border-radius: 20rem;
  background: $white-shade-of-gray;
  box-shadow: 0rem 4rem 18rem 1rem rgba(143, 143, 143, 0.25);
  @include mobile_media {
    border-radius: 100rem;
    box-shadow: 0px 4px 18px 1px rgba(143, 143, 143, 0.25);
  }

  & .modal-panel {
    position: relative;
    //max-height: 90vh;
    z-index: 999;
    overflow: auto;
    opacity: 0;
    transform: scale(.8);
    transition: all .3s ease-in-out;
    border-radius: 20rem;
    background: $white-shade-of-gray;
    box-shadow: 0rem 4rem 18rem 1rem rgba(143, 143, 143, 0.25);
    display:flex;
    flex-wrap:nowrap;
    flex-shrink: 0;
    padding:46rem 44rem 46rem 64rem;
    @include mobile_media {
      flex-direction: column;
      padding:100rem;
      width:87%;
      overflow: hidden;
    }
    &.active {
      opacity: 1;
      transform: none;
    }
  }
  &_slider {
    width:439rem;
    height:565rem;
    position: relative;
    z-index: inherit;
    @include mobile_media {
      width:100%;
      height:auto;
    }
    & .swiper {
      border-radius: 15rem;
      width:439rem;
      height:565rem;
      @include mobile_media {
        border-radius: 75rem;
        width:inherit;
        height:auto;
        aspect-ratio: .775;
      }
      & .swiper-wrapper {
        z-index: inherit;
      }
    }
    & .swiper-prev, & .swiper-next {
      position:absolute;
      top:50%;
      z-index: inherit;
      cursor:pointer;
      width:64rem;
      height:64rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile_media {
        width:320rem;
        height:320rem;
      }
    }
    & .swiper-prev {
      left:0;
      transform: translate(-50%,-50%);
    }
    & .swiper-next {
      right:0;
      transform: translate(50%,-50%);
    }
  }
  &_text {
    margin-left: 100rem;
    width:495rem;
    //height:565rem;
    overflow: hidden;
    @include mobile_media {
      width: 100%;
      //height: 312px;
      margin-top: 98rem;
      margin-left: unset;
    }
    & h2 {
      color: $black;
      font-size: 48rem;
      font-style: normal;
      font-weight: 500;
      margin:30rem 0;
      @include mobile_media {
        font-size: 85rem;
        font-weight: 700;
        margin-bottom:62rem;
      }
    }
    & .list {
      overflow-y: scroll;
      height: 457rem;
      padding-right: 13rem;
      @include scroll (8rem, 457rem, $grey-light, #4a4a4a5c, $grey-light,100rem, $grey-main, $grey-light);
      @include mobile_media {
        @include scroll (8px, 200px, $grey-light, #4a4a4a5c, $grey-light,15px, $grey-main, $grey-light);
        height: 840rem;
      }
      & .name {
        color: $black;
        font-size: 20rem;
        font-style: normal;
        font-weight: 400;
        //line-height: 199%;
        margin-bottom: 10rem;
        @include mobile_media {
          font-size: 65rem;
          line-height: 160%;
          color: #000;
        }
      }
      & .description {
        color: $grey-main;
        font-size: 18rem;
        font-style: normal;
        font-weight: 500;
        line-height: 170%;
        margin-bottom: 20rem;
        @include mobile_media {
          font-size: 55rem;
          line-height: 160%;
        }
      }
    }
  }
  &_close {
    position: absolute;
    right: 30rem;
    top: 30rem;
    width:40rem;
    height:40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    @include mobile_media {
      box-shadow: 0 4rem 18rem 1rem rgba(#8f8f8f, .25);
      border-radius: 50%;
      width: 252rem;
      height: 252rem;
      background: $white-shade-of-gray;
      z-index: 1000;
      right: 50rem;
      top: 50rem;
    }
  }
}

.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 999;
  //transition: height 0s ease-out 1s;
}
.modal-wrapper.active {
  height: 100%;
  transition: height 0s ease-in 0s;
}
.modal-wrapper.active .backdrop {
  visibility: visible;
  opacity: 1;
}
.modal-wrapper .backdrop {
  visibility: hidden;
  opacity: 0;
  transition: all .6s ease-in-out;
}
.backdrop-shaded {
  background: $white-shade-of-gray;
  //-webkit-backdrop-filter: blur(5px);
  //backdrop-filter: blur(5px);

}
.backdrop {
  position: fixed;
  z-index: 998;
}
.backdrop, .box {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
