section { margin: 0 auto;}
.assortiment {
  display: flex;
  flex-wrap: wrap;
  padding: 0 125.496rem 39.502rem 140rem;
  justify-content: center;
  align-items: center;
  width: 1440rem;
  background: $white-shade-of-gray;

  @include mobile_media {
    width:100%;
    padding:150rem 100rem;
    &> div {margin-bottom:30px; }
  }

  &_img {
    width:57.5%;
    aspect-ratio: 1;
    background-image: url('/storage/images/assortiment/layout.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & img {
      max-width: 75%;
      height: auto;
    }
    & .menu {
      padding: 25rem 29rem;
      position: absolute;
      bottom: 27rem;
      right: 0;
      width: 200rem;
      border-radius: 0 20rem 20rem 20rem;
      background: $white-shade-of-gray;
      filter: drop-shadow(4rem 2rem 17rem rgba(0, 0, 0, 0.14));
      color: $grey-main;
      @include mobile_media {
        width: 544rem;
        padding: 65rem;
        right: 0;
        margin-bottom: -180rem;
      }
      &:before {
        content:'';
        position: absolute;
        left:1px;
        top:0;
        width: 0;
        height: 0;
        border-top: 20rem solid $white-shade-of-gray;
        border-left: 20rem solid transparent;
        transform: translateX(-100%);
        @include mobile_media {
          border-top: 75rem solid $white-shade-of-gray;
          border-left: 75rem solid transparent;
        }
      }

      &_header {
        font-size: 18rem;
        font-style: normal;
        font-weight: 500;
        line-height: 170%;
        margin-bottom: 10rem;
        @include mobile_media {
          font-size: 55rem;
          line-height: 160%;
        }
      }
      &_list li {
        font-size: 14rem;
        font-style: normal;
        font-weight: 500;
        line-height: 170%;
        opacity: 0.8;
        @include mobile_media {
          font-size: 44rem;
          padding-top: 35rem;
        }
      }
      &_link {
        color: $red;
        font-size: 14rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
        @include mobile_media {
          font-size: 44rem;
          line-height: 170%;
          margin-top: 35rem;
        }
      }
    }

    @include mobile_media {
      order: 3;
      width:100%;
      background-size: 100%;
    }
  }
  &_text {
    width:42.5%;
    &_opacity {
      font-family: 'Comfortaa';
      font-size: 18rem;
      font-style: normal;
      font-weight: 500;
      line-height: 170%;
      opacity: 0.8;
      color: $grey-additional;
      @include mobile_media {
        font-size: 80rem;
      }
    }
    & .text {
      margin:30rem 0;
      @include mobile_media {
        margin:100rem 0;
      }
    }
    @include mobile_media {
      order: 1;
      width:100%;
    }
  }

  &_slider {
    width:100%;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    & .swiper {
      width: 860rem;
      //height: 118rem;
      padding-bottom: 10rem;
      height: 161rem;
      &-slide {
        //width: 260rem;
        display:flex;
        align-items: center;
        cursor:pointer;
        transform: scale(.92);
        //justify-content: space-between;
        padding:17rem 49rem 17rem 16rem;
        &:hover {
          //width: 260rem;
          border-radius: 500rem;
          background: $white-shade-of-gray;
          box-shadow: 4rem 4rem 13rem 1rem rgba(0, 0, 0, 0.10);
          @include mobile_media {
            transform: scale(.8);
            border-radius: 100px;
            background: var(--white-shade-of-gray, #F0F0F0);
            box-shadow: 15rem 15rem 55rem 10rem rgba(0, 0, 0, 0.10);
          }
        }
        &>h4 {
          font-size: 18rem;
          font-style: normal;
          font-weight: 500;
          line-height: 170%;
          padding-left:14rem;
          transform: scale(1.1);
          @include mobile_media {
            flex: 0 0 50%;
            margin-top:15rem;
            font-size: 60rem;
          }
        }
        &>.img {
          width: auto;
          max-height: 118rem;
          width: 118rem;
          @include mobile_media {
            width: 228rem;
            max-height: 228rem;
            flex: 1 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        @include mobile_media {
          display:flex;
          flex-direction: column;
          height: 565rem;
          padding:85rem;
          //justify-content: space-around;
        }
      }
      & .swiper-wrapper {
        //width: 860rem;
      }
      @include mobile_media {
        padding-bottom: 50rem;
        height: 675rem;
        width: 100%;
      }
    }
    & .swiper-next, & .swiper-prev {
      width: 64rem;
      height: 64rem;
      flex-shrink: 0;
      cursor:pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &>svg {
        height: 100%;
      }
      @include mobile_media {
        width:320rem;
        height:320rem;
      }
    }
    & .swiper-prev {
      @include mobile_media {
        order:2;
      }
    }
    & .swiper-next {
      margin-right: 20rem;
      @include mobile_media {
        order:4;
      }
    }
    & .swiper-pagination {
      margin:0 58rem;
      flex: 0 0 50rem;
      position: relative;
      padding-top: 12rem;
      @include mobile_media {
        font-size: 70rem;
        //padding-top: 110rem;
        line-height: 0;
      }
      &-current, &-total {}
      &-current {
        color: $black;
        font-size: 20rem;
        font-style: normal;
        font-weight: 400;
        //line-height: 170%;
        vertical-align: 16rem;
        margin-right: -5rem;
        @include mobile_media {
          //line-height: 160%;
          font-size: 80rem;
          vertical-align: 46rem;
          margin-right: -20rem;
        }
      }
      &-total {
        color: $grey-additional;
        font-size: 14rem;
        font-style: normal;
        font-weight: 500;
        //line-height: normal;
        vertical-align: -5rem;
        margin-left: -3rem;
        @include mobile_media {
          font-size: 70rem;
          vertical-align: -35rem;
          margin-left: 105rem;
        }
      }
      @include mobile_media {
        order:3;
      }
    }

    @include mobile_media {
      order: 2;
      flex-wrap: wrap;
      width:100%;
      justify-content: space-between;
    }
  }
}