@mixin scroll($width, $height,$col-scrollbar,  $col-polsunca,$col-scrollbar-track, $radius-polsunoca, $col-polsunca-hover, $col-buttons, $shadow-polsunca: none) {
/* полоса прокрутки (скроллбар) */
&::-webkit-scrollbar {
  width: $width; /* ширина для вертикального скролла */
  height: $height; /* высота для горизонтального скролла */
  background-color: $col-scrollbar;
  @include before-prefix(border-radius, 10px);
}
  //трек скроллбара
  &::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $col-scrollbar-track;
    @include before-prefix(border-radius, $radius-polsunoca);
  }
/* ползунок скроллбара */
&::-webkit-scrollbar-thumb {
  background-color: $col-polsunca;
  @include before-prefix(border-radius, $radius-polsunoca);
  //@include before-prefix('box-shadow', $shadow-polsunca);
}

&::-webkit-scrollbar-thumb:hover {
  background-color: $col-polsunca-hover;
}

/* Стрелки */
&::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: $col-buttons;
  display: none;
}

&::-webkit-scrollbar-button:vertical:end:increment {
  background-color: $col-buttons;
  display: none;
}

&::-webkit-scrollbar-button:horizontal:start:decrement {
    background-color: $col-buttons;
  display: none;
}

&::-webkit-scrollbar-button:horizontal:end:increment {
  background-color: $col-buttons;
  display: none;
}

  &::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
  }

}